# this file aggregates several configs to create a bazel config that can build TF remotely

# bazelrc that ships with the repo
import %workspace%/tools/tf_core.bazelrc

# configured bazelrc for ubuntu (result of running configure.sh on Ubuntu 16.04)
import %workspace%/tools/tf_configure.ubuntu.bazelrc

# Remote Build Execution bazelrc: use --config=rbe to build remotely
import %workspace%/tools/rbe.bazelrc

# Suppress noisy warnings
build --output_filter=SUPPRESS_ALL
